body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #585B5A;
  box-sizing: border-box;
}

header {
  padding: 40px 0;
  background-color: black;
}

.header {
  background-color: black;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: inline-block;
  margin-right: 20px;
}

.navigation-item a {
  text-decoration: none;
  color: whitesmoke;
}

.navigation-item a:hover {
  color: yellow;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: rgb(245, 242, 242);
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(226, 216, 216);
  text-align: center;
}

.about h1 p{
    justify-content: left;
}

.about, .skills, .projects, .education, .contact, .experience{
  padding: 50px 0;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: whitesmoke
}

.skills, .education, .contact{
    background-color: black;
}

.skills {
  padding: 50px 30px;
}

.skill-column {
  width: 50%;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: left;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  gap: 20px; /* Spacing between items */
}

.skill h3 {
  font-size: 20px;
  margin-right: 20px;
}

.skill progress {
  width: 150px;
  height: 10px;
  background-color: yellow;
}

.skill .percentage {
  margin-left: 10px;
}


h2 {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(236, 230, 230)
}

h3{
    text-align: center;
    color: whitesmoke
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.projects .project {
  margin-bottom: 20px;
}

.projects .project h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.projects .project a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(199, 189, 52);
  color: white;
  text-decoration: none;
  border: none;